*  {
    box-sizing: border-box;
  }

  body {
    text-align: center;
    background: url(images/backgroundkitchen.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    }

  header {
    background-color: rgba(174, 212, 182, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
 
  .hidden {
    display: none;
  }
  
  h1, h2, h3, h4 {
    color: #073B3A;
    font-family: 'Playfair Display', serif;
  }

  h1 {
    border: 1px solid #0B6E4F;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    padding-bottom: 10px;
    font-size: 45px;
    margin: 0;
  }

  h2 {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    
  }
 
  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
    margin: 0;
  }

  .searchBarHeading {
    display: block;
    color: #073B3A;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 2px;
  }
 
  .results {
    list-style: none;
  }

  .restrictions {
    background-color: rgba(174, 212, 182, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .icons {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding: 8px;
  }

  .nuts {
    display: block;
    padding: 10px;
  }

  .vegan {
    display: inline-block;
    padding: 10px;
  }

  .vegetarian {
    display: inline-block;
    padding: 10px;
  }

  #vegetarianCheckbox:hover {
    cursor: pointer;
  }

  #veganCheckbox:hover {
    cursor: pointer;
  }

  #nutAllergyCheckbox:hover {
    cursor: pointer;
  }

  .searchFood {
    background-color: rgba(174, 212, 182, 0.9);
    border-radius: 10px;
  }
  
   #foodSearchBar {
     display: inline-block;
     margin-top: 10px;
     padding: 10px;
     width: 200px;
     border-radius: 5px;
     border: 2px solid #073B3A;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
     font-size: 12px;
     font-family: 'Montserrat', sans-serif;
   }

   .scrollButton a{
     display: inline-block;
     padding: 10px;
     font-size: 23px;
     color: #04692c;
     text-decoration: none;
   }

   .scrollButton a:hover {
    color: rgb(228, 83, 39);
   }

   .submitButton {
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
     color: white;
     border: 2px solid #073B3A;
     background-color: #073B3A;
     font-family: 'Montserrat', sans-serif;
     font-size: 12px;
   }

   .submitButton:hover {
     cursor: pointer;
     background-color: #073B3A;
     color: white;
     border-color: white;
   }

   li {
    margin-top: 15px;
    background-color: #DDB771; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #685044;
  }

   .foodImg:hover {
     border-radius: 10px;
   }

   .foodImg {
     width: 150px;
     height: 150px;
     border-radius: 10px;
     z-index: -1;
   }

    .imgText {
      position: relative;
      text-align: center;
      color: white;
      font-size: 20px;
    }

    .imgText:hover .centered {
      opacity: 3;
  }
   
    .centered {
      padding-top: 33px;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 150px;
      width: 150px;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
    }
 
    li h3 a {
      text-decoration: none;
      color: #073B3A;
      padding-left: 5px;
      padding-right: 5px;
    }
 
    li h3 a:hover {
      color: rgb(228, 83, 39);
    }

    p {
      color: #685044;
      font-size: 15px;
    }

    p.health {
      padding-left: 5px;
      padding-right: 5px;
    }

    ul.ingredients {
      text-align: left;
      padding-bottom: 20px;
      }
 
     h4.ingredientsNeeded {
       text-align: left;
       padding-left: 40px;
       padding-top: 20px;
     }

     .facebookButton {
       margin-top: auto;
     }

     .facebookButton a{
       
       color: #073B3A;
       font-family: 'Playfair Display', serif;
       text-decoration: underline;
       font-size: 18px;
       padding-bottom: 10px;
     }

     .facebookButton a i{
       padding-right: 10px;
       font-size: 25px;
       color: white;
       padding-bottom: 10px;
     }

     .facebookButton a i:hover {
      color: rgb(228, 83, 39);
     }

     .facebookButton a:hover {
      color: rgb(228, 83, 39);
     }

     
 
  #edamam-badge {
    position: relative;
    bottom: 0;
  }

  @media screen and (max-width: 1010px){
    .centered {
      padding-top: 33px;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 150px;
      width: 150px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      opacity: 3;
      border: white solid 1px;
    }
    .centered:hover {
      border: white solid 3px;

    }
  }


  @media screen and (max-width: 499px) {
    .searchFood {
      margin-top: 5px;
    }

    ul.results {
      padding-left: 0;
    }

  }



  @media screen and (min-width: 500px){
    header {
      display: inline-block;
      margin-top: 50px;
      width: 500px;
    }

    .restrictions {
      margin-bottom: 50px;
      display: inline-block;
      width: 500px;
      background-color: rgba(174, 212, 182, 0.6);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; 
    }

    .searchFood {
      display: inline-block;
      width: 500px;
    }

    .nuts {
      display: inline-block;
    }

    .icons {
      width: 100px;
      height: 100px;
    }

    .results {
      width: 500px;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  
  @media screen and (min-width: 1015px){
    .container {
      max-width: 1015px;
      margin-left: auto;
      margin-right: auto;
    }

    header {
      width: 100%;
      text-align: center;
      display: inline-block;
      padding-top: 20px;
      border: 1px solid #0B6E4F;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      padding-bottom: 15px;
    }

     h1 {
      display: inline-block;
      border-bottom-color: transparent;    
      padding-right: 30px;
    }

    h2 {
      display: inline-block;
      padding-right: 0;
    }

    h5 {
      padding-top: 50px;
      padding-bottom: 15px;
    }

    main {
      display: flex;
      flex-direction: row;
    }

    form.recipeForm {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: rgba(174, 212, 182, 0.6);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; 
    }

    .restrictions{
      background-color: transparent;
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    } 

    .searchFood {
      background-color: transparent;
      padding-top: 40px;
    }

    #foodSearchBar {
      margin-top: 20px;
      width: 300px;
      margin-right: 10px;
    }


    ul.results {
      display: flex;
      flex-wrap: wrap;
      width: 1000px;
    }

    ul.results li {
      position: relative;
      display: flex; 
      margin: 30px;
      flex: 0 0 44%;
    }

    ul.ingredients {
      padding-bottom: 40px;
    }


    ul.ingredients li {
      margin: 18px;
    }

    .facebookButton {
      position: absolute;
      bottom: 0;
      margin-left: 25%;
     
    }


}
