*  {
    box-sizing: border-box;
  }

  body {
    text-align: center;
    background: url(images/backgroundkitchen.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
 
 
  .hidden {
    display: none;
  }
  
  h1, h2, h3{
    color: #073B3A;
  }
 
  .results {
    list-style: none;
  }
  

  .icons {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
  }


  .checkbox:hover {
    cursor: pointer;
  }
  

   #listOfRecipes {
     display: block;
     margin-top: 10px;
     padding: 10px;
     width: 300px;
     border-radius: 5px;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
   }

   li {
     margin-top: 15px;
     background-color: #DDB771; 
     display: flex;
     flex-direction: column;
     border-radius: 10px;
     color: #0B6E4F;
   }
   p {
     color: #0B6E4F;
   }

   li h3 a {
     text-decoration: none;
     color: #073B3A;
   }

   li h3 a:hover {
     color: #08A045;
   }
  
    ul.ingredients {
    text-align: left;
    }

  
   .submitButton {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     padding: 10px;
     border-radius: 5px;
   }
   .submitButton:hover {
     cursor: pointer;
   }

   .foodImg:hover {
     border-radius: 10px;
     border: #08A045 solid 3px;
   }
  
   
   
   .foodImg {
     width: 150px;
     height: 150px;
     border-radius: 10px;
   }
 
   
  
  #edamam-badge {
    position: relative;
    bottom: 0;
    
  }